@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Users</h1>

    <form asp-controller="Role" asp-action="Users" method="get">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <input type="text" value="Search" name="searchString" class="form-control" />
                <div class="input-group-append">
                    <input type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    @if(@Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">EmailConfirmed</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.EmailConfirmed</td>
                        <td>
                            <a asp-controller="Role" asp-action="EditUser" asp-route-id="@user.Id">Role</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
 </div>
 