@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> An About Us Page  </title>
    <!---Custom Css File!--->
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <section class="about-us">
        <div class="about">
            <img src="~/upload/fshn.png" alt="" class="img-responsive">
            <div class="text">
                <h5>About Us</h5>
                <h4> <span>Faculty Of Natyral Science</span></h4>
                <p><span>The Faculty of Natural Sciences (FSHN) is the main center in Albania for the preparation of senior
                    specialists in informatics, mathematics, physics, chemistry, industrial chemistry, biology, biotechnology. 
                    FSHN is also an important institution for the preparation of teachers for high schools in the subjects of mathematics,
                    physics, chemistry, biology and informatics in the entire system of high schools in Albania.
                    FSHN has an internal academic staff of over 181 employees, of which over 80 professors or associate professors.
                    It is headed by the Dean, elected by direct voting of academic, non-academic staff and students. </span></p>

                    <p><span>Dean Of the Faculty of Natyral Science :Prof.Dr.Spiro Drushku </span></p>
                    <p><span>For more Information head to the link below: </span></p>
                  <h4><span><a href="https://unitir.edu.al/fakulteti-i-shkencave-te-natyres/" target="_blank">Visit FSHN! </a></span></h4>

                
            </div>

        </div>
    </section>
</body>
</html>



<style>

     /*import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');*/
*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: `100vh;
  width: 100%;
  padding: 85px 0;
      /*  background-color: #fde7ed;*/
/* background-image: url('https://mdbootstrap.com/img/new/standard/city/041.jpg')*/
}

.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
        color: #20020a;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}*/
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
            
} 
</style>