@{
    ViewData["Title"] = "Home Page";
}

  <section id="home" class="video-section js-height-full" style="height: 536px;">
    <div class="overlay"></div>
    <div class="home-text-wrapper relative container">

       <div class="home-message">
            <p>Grading Management System</p>
            <small>GMS is the ideal choice for our University System.Being transparent with our students is our Ultimate Goal.</small>
            <div class="btn-wrapper">
                <div class="text-center">
                    <a asp-action="AboutUs" asp-controller="Home" class="btn btn-primary wow slideInLeft">FSHN Proffesors</a> &nbsp;&nbsp;&nbsp;
                    <a asp-action="AboutUs" asp-controller="Home" class="btn btn-default wow slideInRight">FSHN History</a>
                 
                </div>
            </div><!-- end row -->
        </div>
    </div>
     <div class="slider-bottom">
        <span>Explore <i class="fa fa-angle-down"></i></span>
    </div>

    <div id="video_background_video_0" style="z-index: -1; position: absolute; inset: 0px; overflow: hidden;">
        <video width="1400" height="536" autoplay loop onended="this.play()" style="position: absolute; top: 0px; left: -310px;">
            <source src="~/upload/preview.mp4" type="video/mp4">
            <source src="~/upload/preview.webm" type="video/webm">
            <source src="~/upload/preview.ogg" type="video/ogg">
           
        </video>
        </div>
  

    <video width="1341" height="754" autoplay="" loop="" onended="this.play()" style="position: absolute; top: 0px; left: -309px;">
        <source src="upload/preview.mp4" type="video/mp4">
        <source src="upload/preview.webm" type="video/webm">
        <source src="upload/preview.ogg" type="video/ogg">
    </video>

 
    <video width="1311" height="737" autoplay="" loop="" onended="this.play()" style="position: absolute; top: 0px; right: -271px;">
        <source src="~/upload/preview.mp4" type="video/mp4">
        <source src="~/upload/preview.webm" type="video/webm">
        <source src="~/upload/preview.ogg" type="video/ogg">
    </video>
    </section>

<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="custom-module">
                    <img src="~/upload/coding.jpg" alt="" class="img-responsive wow slideInLeft">
                </div><!-- end module -->
            </div><!-- end col -->
            <div class="col-md-8">
                <div class="custom-module p40l">
                   

                    <hr class="invis">

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>Fakulteti I shkencave Te Natyres krijuar me 1957</li>
                                <li>Synon arsimin e larte te studenteve vendas e me gjere</li>
                                <li>Programe te nivelit Bachelor,Master,Doktorature</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->
                       
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last">
                            <ul class="check">
                                <li>9 Departamente,me shume se 10 dege</li>
                                <li>Website:www.unitir.edu.al</li>
                                <li>Adresa:Bulevardi Zogu I,Tirane 1001,Albania</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->
                    </div><!-- end row -->

                    <hr class="invis">

                    <div class="btn-wrapper">
                        <a asp-action="AboutUs" asp-controller="Home" class="btn btn-primary">Learn More About us</a>
                    </div>

                </div><!-- end module -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<section class="section gb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Departments</h3>
        </div><!-- end title -->

        <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
            <div class="caro-item">
                <div class="course-box">
                    <div class="image-wrap entry">
                        <img src="~/upload/bio1.jpg" alt="" class="img-responsive">
                        
                    </div><!-- end image-wrap -->
                    <div class="course-details">
                        <h4>
                            
                            <a href="#" title="">Biologji</a>
                      
                    </div><!-- end details -->
                    <div class="course-footer clearfix">
                        <div class="pull-left">
                           
                        </div><!-- end left -->

                       <div class="pull-right">
                           
                        </div><!-- end left -->
                    </div><!-- end footer -->
                </div><!-- end box -->
            </div><!-- end col -->

            <div class="caro-item">
                <div class="course-box">
                    <div class="image-wrap entry">
                        <img src="~/upload/biotech.jpg" alt="" class="img-responsive">
                        
                    </div><!-- end image-wrap -->
                    <div class="course-details">
                        <h4>
                            
                            <a href="#" title="">Bioteknologji</a>
                        </h4>
                     
                    </div><!-- end details -->
                    <div class="course-footer clearfix">
                        <div class="pull-left">
                           
                        </div><!-- end left -->

                        <div class="pull-right">
                            
                        </div><!-- end left -->
                    </div><!-- end footer -->
                </div><!-- end box -->
            </div><!-- end col -->

            <div class="caro-item">
                <div class="course-box">
                    <div class="image-wrap entry">
                        <img src="~/upload/info.jpg" alt="" class="img-responsive">
                       
                    </div><!-- end image-wrap -->
                    <div class="course-details">
                        <h4>
                           
                            <a href="#" title="">Informatik</a>
                        </h4>
                      
                    </div><!-- end details -->
                    <div class="course-footer clearfix">
                        <div class="pull-left">
                          
                        </div><!-- end left -->


                        <div class="pull-right">
                         
                        </div><!-- end left -->
                    </div><!-- end footer -->
                </div><!-- end box -->
            </div><!-- end col -->

           <div class="caro-item">
                <div class="course-box">
                    <div class="image-wrap entry">
                        <img src="~/upload/kimi.jpg" alt="" class="img-responsive">
                      
                    </div><!-- end image-wrap -->
                    <div class="course-details">
                        <h4>
                           
                            <a href="#" title="">Kimi</a>
                        </h4>
                       
                    </div><!-- end details -->
                    <div class="course-footer clearfix">
                        <div class="pull-left">
                            
                        </div><!-- end left -->

                        <div class="pull-right">
                            
                        </div><!-- end left -->
                    </div><!-- end footer -->
                </div><!-- end box -->
            </div><!-- end col -->

           <div class="caro-item">
                <div class="course-box">
                    <div class="image-wrap entry">
                        <img src="~/upload/math.jpeg" alt="" class="img-responsive">
                        
                        </div><!-- end image-wrap -->
                        <div class="course-details">
                            <h4>
                              
                                <a href="#" title="">Matematike</a>
                            </h4>
                       
                        </div><!-- end details -->
                        <div class="course-footer clearfix">
                            <div class="pull-left">
                               
                            </div><!-- end left -->

                            <div class="pull-right">
                              
                            </div><!-- end left -->
                        </div><!-- end footer -->
                    </div><!-- end box -->
                </div><!-- end col -->
            </div><!-- end row -->
        <hr class="invis">

    
</section>
 
<!-- jQuery Files -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/carousel.js"></script>
<script src="~/js/animate.js"></script>
<script src="~/js/custom.js"></script>
<!-- VIDEO BG PLUGINS -->
<script src="~/js/videobg.js"></script>