@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GradManSystem1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/upload/fshn.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Custom & Default Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/carousel.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/style.css">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/GradManSystem1.styles.css" asp-append-version="true" />
</head>
<body>

 <header class="header">
   @*<div class="topbar clearfix">*@
       
    <div class="container">
       <nav class="navbar navbar-default yamm">
          <div class="navbar-header">
              <div class="logo-normal">

                        @if (!SignInManager.IsSignedIn(User))
                        {
                      <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                          <li><a asp-action="Index" asp-controller="Home" class="nav-item nav-link active"> Home </a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                          <li><a asp-action="Contact" asp-controller="Home" class="nav-item nav-link active"> Contact </a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                          <li class="nav-item">
                              <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                          </li>
                      </ul>
                  }
                  else
                  {
                            <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                                <li><a asp-action="Index" asp-controller="Home" class="nav-item nav-link active"> Home </a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                          <li><a asp-action="Contact" asp-controller="Home" class="nav-item nav-link active"> Contact </a></li>
                      </ul>
                            <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                      <li class="nav-item">
                         <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                             <button type="submit" class="nav-link btn btn-link text-dark"> Logout</button>
                         </form>
                      </li>
                        </ul>
                            @if (User.Claims.Any(x => x.Type == "Roles" && x.Value == "Student"))
                      {
                          var user = SignInManager.UserManager.Users.Where(x => x.Email == User.Identities.FirstOrDefault().Name).Select(x => x.Id);
                          var userId = user.FirstOrDefault();
                                <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                              <li><a asp-action="Grades" asp-controller="Students" asp-route-id="@userId" class="nav-item nav-link active"> Grades </a></li>
                          </ul>
                                <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                                    <li><a asp-action="Index" asp-controller="Products" class="nav-item nav-link active"><i class="gg-shopping-cart fa-spin"></i></a></li>
                                </ul>
                      }
                            @if (User.Claims.Any(x => x.Type == "Roles" && x.Value == "Admin"))
                            {
                                <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                                    <li><a asp-action="Users" asp-controller="Role" class="nav-item nav-link active"> Users </a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                                    <li><a asp-action="Create" asp-controller="Students" class="nav-item nav-link active">Stud </a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-left"  style="margin-right: 10px;"> 
                                    <li><a asp-action="Create" asp-controller="Proffesors" class="nav-item nav-link active">Proff </a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                                    <li><a asp-action="Create" asp-controller="Grades" class="nav-item nav-link active">Grad </a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                                    <li><a asp-action="Create" asp-controller="Departments" class="nav-item nav-link active">Dep </a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                                    <li><a asp-action="Create" asp-controller="Courses" class="nav-item nav-link active">Cours </a></li>
                                </ul>
                            }
                            
                            @if (User.Claims.Any(x => x.Type == "Roles" && x.Value == "Profesor"))
                            {
                                <ul class="nav navbar-nav navbar-left" style="margin-right: 10px;">
                                    <li><a asp-action="Index" asp-controller="Students" class="nav-item nav-link active"> SDetails </a></li>
                                </ul>
                            }
                        }
                    </div>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
                     
          </div>
       </nav><!-- end navbar -->
   </div><!-- end container -->
</header>

  
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@*<footer class="border-top footer text-muted">
    <div class="container">
         2023 - GradManSystem1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>*@
   
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
 @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
